/* components/Header.module.css */

nav {
  display: flex;
  justify-content: space-between;
}

.responsiveDivTop {
  order: 1;
}

.responsiveDivBottom {
  order: 2;
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .responsiveDivTop,
  .responsiveDivBottom {
    order: 0; /* Reset the order for small screens */
    margin-bottom: 10px; /* Add some space between the two divs on small screens */
  }
}
